!!!
-# Strict
%html{html_attrs}
  %head
    %title Cameron Walters
    
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    
    = javascript_include_tag :all, :cache => true
    = javascript_include_tag ExternalApis.google_ajax_url
    = stylesheet_link_tag "compiled/screen", :cache => true
  
    = yield :head
    
  %body{ :id => @body_id || default_body_id }
    #container
      = yield

    = render :partial => "layouts/analytics"
    = yield  :end_of_body
